<section>
    {{ with .Site.Params.recentposts.title }}
        <h2>{{ . }}</h2>
    {{ end }}

	<div class="row">
        <br>
        <p>
        <ul class="recent-posts">
        {{ range first 15 (where $.Site.RegularPages "Section" "post").Reverse }}
            <li>{{ .Date.Format .Site.Params.date_format }}: <a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
        </p>
	</div>
	<!--
	<div><a class="button" href="post/page/2/">Future meetings »</a></div>
	-->
</section>
